* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {    
    background-image: linear-gradient(rgba(184, 61, 0, 0.1), rgba(184, 64, 0, 0.1)), url(./image/baliko-andras-Egi8dKQNky4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-blend-mode: multiply;
    background-attachment: fixed;
    
    /*max-width: 100%;
    width: min(50%, 1200px);
    margin: 0 auto;*/
}

header {
    display: flex;
    
    position: relative;
    justify-content: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px;
    /*width: 100%;
    width: max(50%, 1200px);
    margin: 0 auto; */
    min-height: 10vh;
}

.container figure {
    max-width: 90%;
    height: auto;
}


h1 { 
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 6rem; 
    color: rgb(33, 33, 33, 1.0);   
    transform: translateY(-12px);
    text-shadow: 0px 8px 12px rgba(255, 140, 0, 0.25);
    z-index: 2;
}

h2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding-bottom: 1rem;
    z-index: 2;
}

p {
    position: relative;
    font-size: 2rem;
    margin-top: 1px;
    margin-bottom: 16px;
    color: black;
    transform: translateY(-12px);
    text-shadow: 0px 8px 12px rgba(255, 140, 0, 0.25);
}

/*

TOP NAVIGATION BAR

*/

.btn__menu {
    display: none;
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
}

.menu--open .menu__X {
    display: none;
}

.menu__backdrop {
    position: absolute;
    /* background-image: linear-gradient(rgba(184, 61, 0, 0.1), rgba(184, 64, 0, 0.1)), url(./image/baliko-andras-Egi8dKQNky4-unsplash.jpg); */
    background-color: rgba(0, 0, 0, 0.75);
    background-position: center 100%;
    top: 0;
    left: 50%;
    right: 7px;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 30ms ease;
    opacity: 0;
    visibility: hidden;
}

.fa-file {
    position:absolute;
    top: 20px;
    right: 10px;
    z-index: 3;
    filter: drop-shadow(3px 5px 5px rgba(255, 140, 0, 0.25));
    font-size: 2.5rem;
}

/* this class must come before the menu--open class in order for the backdrop to show*/
.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    /* display: block;*/
}

/* this class is for the .js */
.menu--open {
    max-width: 100vh;
    overflow: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 15px;
    color: white;
}

/* this class is to move the icon 'X' to the upper right hand corner */
.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/*

RESUME CONTACT INFO

*/

.white {
    color: white;
}

.space {
    padding-left: 2rem;
}

.resume__contact {
   
    display: flex;
    justify-content: center;
    z-index: 2;
}

.resume__phone {
    
    display: flex;
    justify-content: center;
    z-index: 2;
}

.img {
    padding-top: 29rem;
}

.banner__img {
    position: absolute;
    height: 400px;
    /* the next 3 lines centers the foreground image on top of the background image */
    top: 35rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* these next two lines create the fading around the banner__img */
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 95%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 95%);
}

#landing {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;     
}

li {
    list-style: none;
    list-style-type: none;
    
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link {
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    letter-spacing: 1.5px;
    position: relative;
    color: white;
    transform: translateY(-12px);
    text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7);
    justify-content: space-between;
}

a .nav__link,
.nav__link {
    text-decoration: none;
}

a.nav__link:hover {
    text-decoration: underline !important;
    cursor: pointer;
} 

.nav__links--row {
    display: flex;
    flex-direction: row;
}

/* .nav__link, .nav__link--img {
    padding: 8px;
} */

.nav__icon--color {
    color: white;
    transform: translateY(-1px);
    text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7);
}

.fa-pen-to-square {
    color: rgba(245, 245, 220, 1);
}

.nav__link--color {
    color: white;
    
}

@media (max-width: 1024px) {
    .banner__img {
        width: 50%;
        height: 250px;
    }

    .fa-file {
        float: right;
    }

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
}


@media (max-width: 768px) {
    body{
        background-size:  100% auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    h1 {
        text-align: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    p {

        text-align: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .banner__img {
        width: 50%;
        height: 150px;
    }
}

@media (max-width: 480px) {
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-postion: top center;
    }

    .fa-file {
        float: right;
    }

    h1 {
        text-align: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .banner__img {
        width: 65%;
        height: 270px;
        width: 80%;
    }
}